body{
    background-color: antiquewhite;
}

.loader {
    border: 16px solid #f1f1f1;
    border-top: 16px solid #048023;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spinloader 2s linear infinite;
    position: relative;
    left: 50%;
    margin-top: 16%;
    /* display: none; */
}

.loader img {
    height: 120px;
    width: 120px;
    animation: spinlogo 2s linear infinite;
}

@keyframes spinloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinlogo {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.cards{
    display: flex;
    /* flex-wrap: wrap; */
    margin: -0.5rem;
}

.card{
    margin: 0.5rem;
    background: #fff;
    padding: 3rem;
    font-size: 2rem;
    text-align: center;
    width: 30%;
    height: 15rem;
    position: relative; 
    border-radius: 10px;
    padding-bottom: 6rem;

}

.row{
    display: flex; 
    flex-direction: row;
    margin-right: 10px;
    /* gap: 10rem; */
}


.avatar-image{
    /* width: 10px;  */
    /* height: 10px;  */
    border-radius: 50%;
}

.avatar-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 16rem;
}

.title{
    font-size: 20px;
}

.subtitle{
    font-size: 15px;
    position: relative;
    left: -23px;
}

.product-type{
    color: white; 
    background-color: #fbab60;
    font-size: 18px;
    padding: 5px; 
    height: 25px;
    width: 70px;
    border-radius: 5px;
}

.job-title{
    margin-top: 30px; 
    font-size: 38px; 
    color: black;
    width: 100%;
    word-break: break-all; 
    display: flex;
    justify-self: flex-start;
}

progress::-moz-progress-bar {
    background-color: blue important;
    width: 100%;
}


.applied-bold{
    font-weight: bold;
    font-size: 20px;
    margin-right: 2px;
}

.applied-fade{
    font-weight: normal;
    font-size: 20px;
}

.progress-container{
    display: flex;
    justify-content: flex-start;
}

.applied-section{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px; 
}

